body{
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #6c0f05;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px 10px 54px;
}

.navbar-img {
    width: 280px;
    height: 100px;
    object-fit: contain;
}

.navbar-list {
    display: flex;
    gap: 68px;
}

.navbar-list li {
    list-style: none;
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 40px;
}